
a{
  text-decoration:none;
}
body{
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-image:url("https://th.bing.com/th/id/R.1164da34ea0f7af61283ec2719e4c255?rik=PH6%2boOryBdYjVQ&pid=ImgRaw&r=0");
}
.header {
  padding: 100px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 49px;
}
h1{
   text-align: center;
}

* {
  box-sizing: border-box;
}

 /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


    